
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f6f9;
    padding-left: 144px;
    padding-right: 144px;
    margin: 48px auto 0 auto;
}

.form {
    display: inline;
}

#search-btn {
    background:#0099ff;
    color:white;
    padding:10px 20px;
    border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    -o-border-radius:0 5px 5px 0;
    border:0 none;
    font-weight:bold;
    cursor: pointer;
}

#query {
    background: white;
    padding:10px;
    border-radius:5px 0 0 5px;
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
    -o-border-radius:5px 0 0 5px;
    border:0 none;
    width:160px;
}

#query:active, #query:focus {
    background: white !important;
    outline: none;
}

#results-empty-state {
    font-style: italic;
    color: #999;
}

#divider {
    margin: 24px 0;
}

#row {
    position: relative;
    /*padding-bottom: 12px;*/
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

#table {
    height: 80vh;
    overflow-y: scroll;
    padding-right: 20px;
}

mark {
    background-color: #eef2fc;
}


@media screen and (max-width: 1024px) {
    body {
        padding-left: 24px;
        padding-right: 24px;
    }

}